* {
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
  background-color: $c-bg;
}

body {
  font-size: 1.6rem;
	backface-visibility: hidden;
	position: relative;
	color: $c-text;
	font-feature-settings: "pkna" 1;
	letter-spacing: 0.04em;
}


input,
textarea,
a,
button,
select
{
	pointer-events: auto;
}


@define-mixin font $s: 1em {
	font-size: $s;
	line-height: 1.6em;
}

h1 {
	@mixin font 2em;
}

