* {
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
  background-color: $c-bg;
}

body {
  font-size: 1.6rem;
	backface-visibility: hidden;
	position: relative;
	color: $c-text;
	font-feature-settings: "pkna" 1;
	letter-spacing: 0.04em;
}

input,
textarea,
a,
button,
select
{
	pointer-events: auto;
}

